* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(116, 116, 116);
  border-radius: 0.5rem;
}

.table-responsive::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: rgb(158, 158, 158);
  border-radius: 0.5rem;
}

.scrollBar::-webkit-scrollbar-thumb {
  background-color: rgb(158, 158, 158);
  border-radius: 0.5rem;
}

.scrollBar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrollBar::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.7rem;
}

body {
  background-color: var(--appBackground);
}

ul,
ul li,
ul ul li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

.reset table,
.reset thead,
.reset tbody,
.reset tfoot,
.reset tr,
.reset th,
.reset td {
  display: block;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: inherit;
  vertical-align: inherit;
  font-weight: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}

/* Fixing style error in react-bootstrap-typeahead */
.rbt-token .rbt-token-remove-button {
  background: none;
  border: none;
}

:root {
  /* --appBackground: #f9f9f9; */
  --appBackground: #f0eeee;
}

[data-theme="dark"] {
  --appBackground: #1b1b1b;
}

[data-theme="dark"] .inputThemeClass,
[data-theme="dark"] .form-control:focus,
[data-theme="dark"] .form-control:disabled,
[data-theme="light"] .themeClass.btn-light {
  background-color: rgb(33, 37, 41);
  color: rgb(248, 249, 250);
}

[data-theme="dark"] .css-2hzjrb-MuiInputBase-input-MuiFilledInput-input {
  background-color: #1b1b1b;
  color: white;
  border: 1px solid rgb(160, 160, 160);
  font-size: 1.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

[data-theme="light"] .css-2hzjrb-MuiInputBase-input-MuiFilledInput-input {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5rem;
}

[data-theme="dark"] .btn-close {
  background: white;
}

[data-theme="dark"] .css-6j8wv5-Input,
[data-theme="dark"] .css-1s2u09g-control,
[data-theme="dark"] .css-1pahdxg-control {
  background-color: inherit;
  color: rgb(248, 249, 250);
}

[data-theme="dark"] .form-control,
[data-theme="dark"] .dropdown-menu,
[data-theme="dark"] .dropdown-item {
  background-color: rgb(33, 37, 41);
  color: rgb(248, 249, 250);
}

[data-theme="dark"] .rbt-input-multi .rbt-input-main,
[data-theme="dark"] .css-qc6sy-singleValue,
[data-theme="dark"] .css-319lph-ValueContainer,
[data-theme="dark"] .css-26l3qy-menu {
  color: white;
}

[data-theme="dark"] .css-26l3qy-menu {
  background-color: rgb(33, 37, 41);
}

[data-theme="dark"] .navbar-light .navbar-toggler {
  background-color: white;
}

[data-theme="dark"] .dropdown-menu {
  margin-top: 1px;
  border: 1px solid rgb(179, 177, 177);
}

.themeClass {
  background-color: rgb(33, 37, 41);
  color: rgb(248, 249, 250);
}

[data-theme="light"] .themeClass {
  background-color: rgb(250, 250, 250);
  color: rgb(39, 39, 39);
}

[data-theme="dark"] .navbar-light .navbar-nav .nav-link,
[data-theme="dark"] .navbar-light .navbar-nav .nav-link:hover,
[data-theme="dark"] .nav-link,
[data-theme="dark"] .nav-link:hover {
  color: rgb(248, 249, 250);
}

[data-theme="dark"] .navbar-light .navbar-nav .nav-link.active,
[data-theme="dark"] .nav-link.active {
  color: rgb(170, 170, 170);
}

[data-theme="light"] .nav-link {
  color: rgb(78, 78, 78);
}

[data-theme="light"] .nav-link.active {
  color: rgb(51, 51, 51);
}

.tag-cloud-tag {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}
