* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(116, 116, 116);
  border-radius: 0.5rem;
}

body {
  overflow-x: hidden;
}

.rbt-token .rbt-token-remove-button {
  background: none;
  border: none;
}
