.collectionImage {
  object-fit: cover;
  object-position: 100% 55%;
  max-height: 100%;
  position: absolute;
  width: 100%;
  transition: 1000ms ease-in-out;
}

.collectionImage.hidden {
  display: none;
}

.collectionImage:hover {
  object-position: 100% 35%;
}
