.collectionImage {
  object-fit: cover;
  object-position: 100% 45%;
  max-height: 100%;
  position: absolute;
  width: 100%;
  transition: 800ms ease-in-out;
  filter: blur(2px) grayscale(1);
}

.collectionImage.hidden {
  display: none;
}

.collectionImage:hover {
  object-position: 100% 55%;
  filter: blur(0px) grayscale(0);
}
